@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #0D1B2A;
    --main-memu-color: #99C6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #07111E;
    padding-top: 35px;
    padding-bottom: 35px;
    /* border: 1px #fff solid; */
    width: 241px;
    height: 1024px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: vertical;
}

.mex-trial {
    width: 241px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 24px;
    padding-right: 24px;
    width: 241px;
    height: 90px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: #00a7e4 1px solid;
}

.mex-trial h2 {
    color: #fff;
    text-align: left;
    font-family: inter;
    line-height: 38px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 24px;
    width: 241px;
    height: 328px;
    
}

.sidebar h2 {
    color: var(--main-memu-color);
    font-family: inter;
    text-align: left;
    width: 217px;
    height: 28px;
}

.icon-sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-left: 20px;
}

.hearing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 12px;
    background-color: #1e2323;
    width: 197px;
    height: 40px;
}

.hearing a {
    color: #c9a84c;
    text-decoration: none;
}

.dashboard , .cases ,
.client , .lawyer  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    width: 197px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

.dashboard a, .cases a,
.client a, .lawyer a {
    color: var(--main-memu-color);
    text-decoration: none;
}

.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 241px;
    height: 88px;
    padding-left: 24px;
    padding-right: 24px;
    /* border: #fff 1px solid; */
}

.admin-container p {
    color: var(--main-memu-color);
    font-family: inter;
    font-size: 20px;
    text-align: left;
}

.admin-portal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    width: 197px;
    height: 40px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    /* border: #fff 1px solid; */
}

.admin-portal-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.admin-portal-texts p {
    color: var(--main-memu-color);
    font-size: 15px;
}

.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: #00a7e4 1px dotted;
    border-radius: 4px;
    padding: 5px 6px;
}

.admin p {
    color: var(--main-memu-color);
    font-size: 12px;
    font-family: inter;
}

.account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 241px;
    height: 88px;
    padding-left: 24px;
    padding-right: 24px;
}

.account-container p {
    color: var(--main-memu-color);
    font-family: inter;
    font-size: 20px;
    text-align: left;
}

.Settings-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    width: 197px;
    height: 40px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}

.Settings-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.Settings-texts p {
    color: var(--main-memu-color);
    font-size: 15px;
}